/* Use '.' para manipular o estilos de classes. NÃO use '.' para manipular seletores  */

body {
  overflow-x: hidden; /* Remove a barra horizontal */
}

/* Adicionando responsividade quando a largura da página chegar em 768px */
@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }
}

/* Estilização do texto da lateral */
.texto-lateral-signin {
    padding-right: 0px;
    color: var(--cinza-claro);
    text-align: center; /* Define o alinhamento do texto do cabeçalho h1 como centralizado */
    font-size: 2.5rem;
    line-height: 1.3;
    width: 470px;
}

/* Permite controla a distância entre o texto e o formulário */
.espacador-texto{
    width: 100px;
    height: 20px;
}

/* Estilizando a div pai */
.container-center-signin{
    background: linear-gradient(90deg, var(--azul-hover), var(--azul));
    animation: rotateBackground 10s linear infinite;
    height: 100%; /* Define a altura da div-pai em 100% da tela */
    display: flex; /* cria um container flexível */
    justify-content: center; /* Alinha o conteúdo no centro da div, em X */
    align-items: center; /* Alinha o conteúdo no centro da div, em Y */
    padding: 0 12px;
    padding-left: 20px; /* Espaçamento da esquerda */
    padding-right: 20px; /* Espaçamento da direita */
}

/* Estilizando a div-login */
.login{ 
    background: var(--branco); /* Define a cor de fundo da div-login (pai) */ 
    width: 400px; /* Define a largura da div */ 
    display: flex; /* Define que a div é um container flexível */ 
    align-items: center; /* Define o alinhamento vertical dos elementos dentro do container */ 
    justify-content: center; /* Define o alinhamento horizontal dos elementos dentro do container */ 
    flex-direction: column; /* Define a direção dos elementos dentro do container (neste caso, em colunas), para que os elementos apareçam um em baixo do outro e não lado-a-lado */ 
    border-radius: 12px; /* Define o raio da borda da div-login */
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.25); /* Define uma sombra com deslocamento horizontal e vertical de 0px, desfoque de 10px e cor */
    margin-top: 20px;
    z-index: 1; /* Definindo um valor de z-index menor */
}

 /* Estilizando os campos de input (normal) */ 
.login input{ 
    margin-bottom: 0rem; /* Define a margem inferior do input */ 
    height: 50px; /* Define a altura do input */ 
    border: 1px solid var(--cinza-escuro2); /* Define uma borda sólida com cor cinza claro */ 
    border-radius: 7px; /* Define o raio da borda do input */ 
    padding: 10px; /* Define o espaçamento interno do input */ 
    font-size: 15px; /* Define o tamanho da fonte do texto do input */ 
    background-color: var(--branco); /* Define a cor de fundo do input */ 
}  


/* Configurando a div da logo */
.logo-area-signin{
    background-color: var(--cinza-claro); /* Cor da div do logo */
    width: 100%; /* Define a largura da div */ 
    display: flex; /* Define que a div é um container flexível */ 
    justify-content: center; /* Define o alinhamento horizontal dos elementos dentro do container */ 
    border-top-right-radius: 12px; /* Define o raio da borda superior direita da div-login */
    border-top-left-radius: 12px; /* Define o raio da borda superior esquerda da div-login */
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

/* Configurando o tamanho da logo */ 
.logo-area-signin img{ 
    width: 100px; /* Define a largura da imagem */ 
    height: 100px; /* Define a altura da imagem */ 
    padding: 20px; /* Define o espaçamento interno da imagem */ 
} 

/* Estilizando o formulário */
form{ 
    margin-top: 1.5rem; /* Define a margem superior do formulário */ 
    width: 90%; /* Define a largura do formulário */ 
    display: flex; /* Define que o formulário é um container flexível */ 
    flex-direction: column; /* Define a direção dos elementos dentro do formulário (neste caso, em colunas) */ 
}

/* Estilizando todos os títulos H1 */
form h1{ 
    color: var(--titulo); /* Define a cor do texto do cabeçalho h1 */ 
    text-align: center; /* Define o alinhamento do texto do cabeçalho h1 como centralizado */ 
    margin-bottom: 1.2rem; /* Define a margem inferior do cabeçalho h1 */ 
}  

/* Estilizando o Botão 'Entrar' (normal) */
#btn-entrar{
    height: 48px; /* Altura do botão Entrar */
    border: 0; /*  */
    border-radius: 7px; /*  */
    background-color: var(--azul); /* Cor do bg */
    color: var(--branco); /* Cor do texto */
    font-size: 1.2rem;
    font-weight: 600;
}

/* Estilizando o Botão 'Entrar' (hover) */
#btn-entrar:hover { 
  background-color: var(--azul-hover); /* 10% darker shade of the current background color */ 
} 

/* Estilização da linha/ divisória (dentro do formulário) entre os botões */
.line{
    height: 1px;
    width: 90%; 
    margin: 15px;
    border-bottom: 1px solid var(--cinza-escuro);
    padding-top: 10px;
}

/* Estiliza o 'Link' do 'React Router DOM', dentro do botão 'Criar uma Conta' */
#btn-criar-conta-login a{ 
    text-decoration: none; /* Remove a decoração de texto padrão do link */ 
    color: var(--branco); /* Define a cor do texto do link como branco */
}  

/* Estilizando o Botão 'Entrar' (normal) */
#btn-criar-conta-login{
    text-decoration: none;
    height: 48px; /* Altura do botão Entrar */
    border: 0; /*  */
    border-radius: 7px; /*  */
    background-color: var(--verde); /* Cor do bg */
    color: var(--branco); /* Cor do texto */
    font-size: 1.1rem;
    font-weight: 600;
    margin: 10px;
    margin-bottom: 25px;
    padding: 15px;
}

/* Estilizando o Botão 'Entrar' (hover) */
#btn-criar-conta-login:hover{
    background-color: var(--verde-hover); /* 10% darker shade of the current background color */ 
}
