/* BOTÃO LOGOUT */
.btn-logout-topo {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 3px;
  transform: scaleX(-1);
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  width: 22px;
  height: 22px;
}
.btn-logout-topo:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scaleX(-1);
  cursor: pointer;
}

/* O PRÓPRIO SIDEBAR*/
.sidebar {
  padding: 10px;
  width: 100%; /* Alterado para 100% */
  max-width: 228px; /* Adicionado max-width */
  min-height: 521px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*Background*/
  background: var(--azul);
  border-right: 3px solid var(--verde);
  position: relative;
}

/* IMAGEM DO USUÁRIO */
.img-avatar {
  width: 120px;
  height: auto;
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  border-radius: 50%;
  border: 3px solid var(--verde);
  object-fit: cover; /* Pra nossa imagem sempre ficar pegando todo o elemento*/
  filter: drop-shadow(0px 0px 10px var(--azul-hover));
  -webkit-filter: drop-shadow(
    0px 0px 10px var(--azul-hover)
  ); /* Necessário para compatibilidade*/
}

/* NOME DO USUÁRIO */
.text-username {
  color: rgba(255, 255, 255, 0.8);
  margin-top: 5px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-family: "NotoSans-Thin", sans-serif;
}

/* INICIO: ESTILIZANDO BOTÕES SIDEBAR + ESPAÇADOR */
.espacador-sidebar {
  height: 10px;
}

/* ---------- PRIMEIROS BOTÕES ---------- */
.-btn-sidebar-primeiro {
  /* GERAL */
  text-align: center;
  font-size: 13px;
  width: 100%;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
}

.-btn-sidebar-primeiro a {
  /* COR DO LINK */
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.-btn-sidebar-primeiro:hover {
  /* MOUSE OVER */
  background-color: rgba(255, 255, 255, 0.2);
}

/* ---------- BOTÕES DO MEIO ---------- */
.-btn-sidebar-meio {
  /* GERAL */
  text-align: center;
  font-size: 13px;
  width: 100%;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 0px;
  color: rgba(255, 255, 255, 0.8);
}

.-btn-sidebar-meio a {
  /* COR DO LINK */
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.-btn-sidebar-meio:hover {
  /* MOUSE OVER */
  background-color: rgba(255, 255, 255, 0.2);
}

/* ---------- ÚLTIMOS BOTÕES ---------- */
.-btn-sidebar-ultimo {
  /* GERAL */
  text-align: center;
  font-size: 13px;
  width: 100%;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 0px;
  color: rgba(255, 255, 255, 0.8);
}

.-btn-sidebar-ultimo a {
  /* COR DO LINK */
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.-btn-sidebar-ultimo:hover {
  /* MOUSE OVER */
  background-color: rgba(255, 255, 255, 0.2);
}

/* ---------- BOTÃO AÇÕES ---------- */
.btn-acoes-sidebar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 13px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 0.8);
}

.btn-acoes-sidebar:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

/* FIM: ESTILIZANDO BOTÕES SIDEBAR */

/* ÁREA RESPONSIVIDADE: MEDIA QUERIE */

/* ------ 700PX ------ */
@media screen and (max-width: 700px) {
  /* CONTROLE, AQUI DENTRO, O QUE ACONTECE COM CADA ELEMENTO DO HEADER */

  /*REMOVER ITENS*/
  .img-avatar,
  .text-username,
  .espacador-sidebar {
    /* Foto de perfil + Username */
    display: none;
  }

  /* AJUSTES */
  .sidebar {
    width: 100%;
    max-width: none; /* Removido max-width */
    min-height: 0px;
    height: auto;
    position: relative;
    border: 0;
    border-bottom: 3px solid var(--verde);
    flex-direction: row;
  }

  .-btn-sidebar-primeiro,
  .-btn-sidebar-ultimo,
  .-btn-sidebar-meio,
  .btn-acoes-sidebar,
  .btn-logout-topo {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    margin: 2px;
    padding: 5px;
  }

  .btn-acoes-sidebar,
  .btn-logout-topo {
    position: static; /* Não pode ser sobreposto*/
  }

  #div-btn-logout-topo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
  }

  .btn-logout-topo {
    width: 30px;
    height: 30px;
    padding: 6px;
  }
}

/* ------ 400PX ------ */
@media screen and (max-width: 400px) {
  /* CONTROLE, AQUI DENTRO, O QUE ACONTECE COM CADA ELEMENTO DO HEADER */

  /*REMOVER ITENS*/
  .img-avatar,
  .text-username,
  .espacador-sidebar {
    /* Foto de perfil + Username */
    display: none;
  }

  /* AJUSTES */
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    border: 0;
    border-bottom: 3px solid var(--verde);
    flex-direction: row;
  }

  .-btn-sidebar-primeiro,
  .-btn-sidebar-ultimo,
  .-btn-sidebar-meio,
  .btn-acoes-sidebar {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    margin: 2px;
    padding: 5px;
  }

  .btn-acoes-sidebar {
    position: static; /* Não pode ser sobreposto*/
  }
}
